fastapi
uvicorn
yfinance
duckduckgo_search
langgraph
langchain
langchain-groq
langchain-google-genai
pytest
pytest-asyncio
pytest-mock
python-dotenv
streamlit
pandas
requests
plotly
plotly-express
mcp
